name: Conventional Commit Check

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  build:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: webiny/action-conventional-commits@v1.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          allowed-commit-types: "feat,fix,docs,test,ci,refactor,perf,chore,revert,deps"