name: Renovate

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  validate:
    name: Validate Renovate Config
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    container:
      image: ghcr.io/renovatebot/renovate:42
      options: --user 0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate configuration
        run: |
          renovate-config-validator --strict renovate.json
